

.body2{
    display: none;
    height: 540rem;
    background-color: white;
    width:100%;
    overflow: hidden;
}

div.background1{
    background: linear-gradient(180deg, #009955 -0%, rgba(0, 153, 85, 0) 100%);
    height: 250rem;
    position: absolute;
    top: 6.1rem;
    width: 100%;
    overflow: hidden;
} 

div.background2{
    background: linear-gradient(360deg, #009955 -0%, rgba(0, 153, 85, 0) 100%);
    height: 350rem;
    position: absolute;
    top: 190rem;
    width: 100%;
    overflow: hidden;
}

.Image1{
    position:absolute;
    object-fit:contain;
    top:10rem;
    width: 100%;
    height:1700px;
    padding:80px;
}

.Image2{
    position:absolute;
    object-fit:contain;
    top:110rem;
    width: 100%;
    height:3700px;
    padding:80px
}

.Image3{
    position:absolute;
    object-fit:contain;
    top:340rem;
    height:2800px;
    width: 100%;
    padding: 80px;
}

@media(max-width:1800px){/*1ST MEDIA SCREEN SIZE (BODY)*/
    .body2{
        height: 380rem;
        width:100%;
        transition: .5s;
    }

    div.background1{
        top: 5.1rem;
        height: 180rem;
        transition: .5s;
    }

    div.background2{
        position: absolute;
        top: 180rem;
        height: 220rem;
        width: 100%;
    }
    
    .Image1{
        top:10rem;
        height:1100px;
        transition: .5s;
    }
    
    .Image2{
        top:90rem;
        height:2700px;
        transition: .5s;
    }
    
    .Image3{
        top:240rem;
        height:2600px;
        transition: .5s;
    }
}

@media (max-width: 400px){
    .Image1, .Image2, .Image3{
        margin: 0!important;
    }
}

@media(max-width:1300px){/*2ND MEDIA SCREEN SIZE (BODY)*/
    .body2{
        height:360rem;
        width:100%;
        transition: .5s;
    }

    div.background1{
        top: 4.4rem;
        height: 180rem;
        transition: .5s;
    }
    
    div.background2{
        position: absolute;
        top: 190rem;
        height: 160rem;
        width: 100%;
    }

    .Image1, .Image2, .Image3{
        margin: 0!important;
    }
    
    .Image1{
        top:10rem;
        height:1000px;
        transition: .5s;
    }
    
    .Image2{
        top:70rem;
        transition: .5s;
    }
    
    .Image3{
        top:200rem;
        transition: .5s;
    }
}

@media(max-width:900px){/*3RD MEDIA SCREEN SIZE(BODY)*/
    .body2{
        height: 260rem;
        width:100%;
        transition: .5s;
    }
    
    div.background1{
        top: 3.1rem;
        height: 190rem;
        transition: .5s;
    }
    
    div.background2{
        position: absolute;
        top: 145rem;
        height: 125rem;
        width: 100%;
        transition: .5s;
    }
    
    .Image1{
        top:0rem;
        transition: .5s;
    }
    
    .Image2{
        top:18rem;
        transition: .5s;
    }
    
    .Image3{
        top:110rem;
        transition: .5s;
    }
}