@font-face {
    font-family: Prosto-One;
    src: url(../fonts/ProstoOne-Regular.ttf);
}

@font-face {
    font-family: Montserrat-Bold;
    src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: Lalezar;
    src: url(../fonts/Lalezar-Regular.ttf);
}

:root {
    --font-color-white: white;
    --font-color-green: #009955;
    --font-size1: clamp(3.125rem, -0.1995rem + 10.6383vw, 9.375rem);
    --font-size2: 20px;
}


* {
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    width: 100%;
    margin: 0;
}

.body{
    overflow: hidden;
}

nav{
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    background-color: var(--font-color-white);
    height: 5%;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 3%;
    z-index: 999;
}

.title-and-logo{
    display: flex;
    justify-content: left;
    align-items: center;
    position: absolute;
    left: 0;
    width: 50%;
}

#navbar-logo{
    width: 87px; 
    height: auto;
}

#navbar-title{
    color: var(--font-color-green);
    font-family: Prosto-One;
    font-size: 50px; 
    font-weight: 400; 
}

.smaller{
    font-size: 18px; 
    font-family: Montserrat-Bold; 
    font-weight: 400; 
    word-wrap: break-word;
}

nav .links{
    position: absolute;
    right: 0;
    margin: 0;
    font-family: Lalezar;
    font-size: 25px;
    width: 50%;
}

.anchor-container{
    display: flex;
}

nav .links ul{
    padding: 0;
}

nav ul li{
    list-style: none;
}

nav ul{
    right: 0;
    width: 100%;
    text-align: right;
    padding: 0;
    list-style: none;
    padding: 0;
    display: flex;
}

nav ul li{
    margin: 0 4%;
}

.links ul li{
    display: flex;
    align-items: center;
    height: 100%;
    text-decoration: none;
}

.links li{
    text-decoration-line: none;
    color: var(--font-color-green);
    opacity: 85%;
    font-weight: bolder;
    font-size: 120%;
}


.links ul li a {
    position: relative;
    color: var(--font-color-green); 
    text-decoration: none; 
}

.links ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    background-color: var(--font-color-green);
    bottom: 0;
    left: 0;
    transition: width 0.3s ease; /* Add transition effect */
}

.links ul li a:hover::after {
    width: 100%;
}


#mock-up-button:hover{
    background-color: var(--font-color-green);
    color: var(--font-color-white);
    border-radius: 50%;
    border: 0 solid var(--font-color-white);
    padding: 0 1.3%;
    opacity: 100%;
    cursor: pointer;
}

#home{
    display: none;
    margin-right: 5%;
}

.main-title {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    max-width: 1440px;
    margin: auto;
    overflow: hidden;
}

.title {
    margin-top: 0;
    width: 39%; 
}

.title h1 {
    width: auto;
    color: var(--font-color-green);
    font-weight: 400;
    font-size: clamp(3.125rem, -0.1995rem + 10.6383vw, 9.375rem);    
    line-height: 0.8; 
    margin: 0;
    font-family: Prosto-One;
}


.title h6 {
    color: black;
    font-family: Prosto-One;
    font-size: 24px; 
    margin-top: 0;
    height: 70px;
}

.title-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 0 10%;
}

.title-logo img {
    width: 100%; 
    margin: 0;
    background: radial-gradient(50% 50% at 50% 50%, rgba(0, 153, 85, 0.53) 0%, rgba(0, 153, 85, 0) 100%);
}

.our-purpose, .project-plan-container, .meet-the-team {
    margin-top: 8%;
}

.context {
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
    padding: 0 8% 8% 8%;
    margin: 0 auto;
    width: 1440px;
    max-width: 100%; 
    height: auto; 
    background-color: rgba(255, 255, 255, 1);
    border-radius: 350px 0px 0px 350px;
    background: linear-gradient(180deg, rgb(0, 153, 85) 29.58%, rgba(0, 153, 85, 0) 100%);
    overflow: hidden;
}

.context-title h2, .about-title{
    text-align: center;
    color: white;
    font-size: 60px;
    margin: 2%;
    font-family: Prosto-One;
}

.context-title{
    padding: 0 0 0 10%;
    font-family: Prosto-One;
}

.context-content{
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
}

.context-content h4{
    font-family: Montserrat-Bold;
    font-size: 45px;
    margin: 0;
}

.context-content p{
    font-family: Prosto-One;
    margin-top: 0;
    font-size: 20px;;
}

.quality, .sustainable, .efficient{    
    flex-wrap: wrap;
    width: 30%;
    color: white;
}

.title-link{
    color: var(--font-color-green);
    text-align: center;
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: 120px; /* 120% */
    margin: 0;
    font-family: Prosto-One;
}

.convenient-and-hassle-free{
    margin: 0 auto;
}

.convenient-and-hassle-free-title, .assistance-log-system-title{
    text-align: center;
    color: var(--font-color-green);
    font-size: 40px;
    font-family: Prosto-One;
}

.convenient-and-hassle-free-title h2{
    margin-bottom: 0;
}

.convenient-and-hassle-free-content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 1440px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 0%; /*This is 0 5%*/
}

.convenient-and-hassle-free .convenient-and-hassle-free-content h5, .assistance-log-system-content h5{
    width: 25%;
    text-align: center;
    color: var(--font-color-green);
    font-size: 35px;
    line-height: 2;
    font-family: Montserrat-Bold;
    margin: auto 0;
}


.convenient-and-hassle-free-content-image{
    display: flex;
    justify-content: center;
    align-items: end;
    width: 35%;
}

.convenient-and-hassle-free-content-image img{
    width: 100%;
    height: auto;
    margin: 0;
}

.advance-watering-system{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: -0.05% auto;
    text-align: center;
    color: var(--font-color-white);
    padding: 0 8% 8% 8%;
    width: 1440px;
    max-width: 100%; 
    height: auto; 
    background-color: rgba(255, 255, 255, 1);
    border-radius: 0px 350px 350px 0px;
    background: linear-gradient(180deg, #095 51.56%, rgba(0, 153, 85, 0.00) 100%);
}

.advance-watering-system-title{
    margin: 0;
    font-size: 40px;
    font-family: Prosto-One;
    padding-right: 5%;
    width: 95%;
}

.advance-watering-system-text{
    margin: 0;
    font-size: 35px;
    font-family: Montserrat-Bold;
    width: 90%
}

.advance-watering-system h2, h5{
    margin: 1%;
}


.advance-watering-system-image img{
   margin: -5% 0 -25% 0;
   width: 70%;
}

.assistance-log-system{
    text-align: center;
    width: 1440px;
    max-width: 100%;
    margin: 100px auto 0 auto;
}

.assistance-log-system-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}

.assistance-log-system-image{
    width: 20%;
    max-height: 100%;
}

.assistance-log-system-content img{
    height: 4%;
    width: 100%;
}

.assistance-log-system-content h5{
    width: 70%;
}

.about-the-project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 1440px;
    max-width: 100%;
}

.title-link-container{
    margin-top: 5%;
    font-family: Prosto-One;
}

.beneficiaries{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 8% 8% 8%;
    margin: 0 auto;
    width: 1440px;
    max-width: 100%; 
    height: auto; 
    
}

.beneficiaries div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1440px;
    max-width: 100%;
}

.beneficiaries-images img{
    margin: 0 2%;
    width: 42%;
}

#beneficiaries-text{
    color: var(--font-color-white);
    padding: 0 10%;
    text-align: center;
    font-size: 200%;
    font-family: Montserrat-Bold;
}

.our-purpose{
    padding: 2% 8%;
    width: 1440px;
    max-width: 100%;
    height: auto;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgb(0, 153, 85) 0%, rgba(0, 153, 85, 0) 100%);
    margin: 0;
}

.our-purpose-text{
    color: var(--font-color-white);
    height: 60%;
    font-size: 200%;
    text-align: center;
    font-family: Montserrat-Bold;
}

.project-plan{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.project-plan img{
    width: 80%;
    height: auto;
}

.project-plan-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Montserrat-Bold;
}

.row-1, .row-2 {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project-plan-list li {
    display: inline;
    margin: 5%;
}

.meet-the-team {
    margin: 0;
}

.container{
    display: flex;
    align-items: center;
    width: 255px;
    height: 137px;
    background-color: var(--font-color-green);
    font-family: Prosto-One;
    border-radius: 50px;
    text-align: center;
    color: #fff;
    margin: 5% 5% 0 0;
    line-height: 2;
    font-size: 90%;
    margin: 2%;
}
  
.green-color{
    color: var(--font-color-green);
    text-align: center;
}

.circle-container{
    display: flex;
    flex-direction: column;
    width: 1440px;
    max-width: 100%;
    margin: 0 auto;
    font-family: Prosto-One;
}

.first-two-circles, .last-three-circles{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: auto;
}

.first-two-circles .c{
    margin: 4% 6%;
}

.last-three-circles .c{
    margin: 6%;
}

.circle {
    width: 100%;
    height: 260px; 
    max-width: 250px;   
}

.c{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.circle img{
    width: 100%;
    max-width: 100%;
    height: 100%;
    background-color: rgba(170, 170, 170, 1);
    border-radius: 50%; 
    margin: 0 auto;
}

.c:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.circle p {
    margin: 0; 
    padding-top: 2%; 
    text-align: center; 
}

footer .contact-info{
    background-color: rgba(79, 64, 64, 1);
    color: var(--font-color-white);
}

footer .contact-info .contact-info-content{
    display: flex;
    justify-content: center;
}

.contact-info-title{
    font-family: Lalezar;
    text-align: center;
    margin-top: 3%;
}

.contact-info-content .address, .contact-info-content .email{
    margin: 2% 5% 7% 5%;
    text-align: center;
    font-family: Montserrat-Bold;
}

@media (min-width: 120px) and (max-width: 199px){
    #body{
        margin-top: 120px;
    }

    #body p, .project-plan-list{
        font-size: 9px;
    }

    #body h5{
        font-size: 13px!important;
    }

    #body h4{
        font-size: 15px!important;
    }

    .title-and-logo #navbar-logo{
        display: none;
    }

    .title-and-logo #navbar-title{
        font-size: clamp(10px, 15px, 15px)!important;
    }

    .title-and-logo .smaller{
        font-size: 7px;
    }

    .smaller{
        display: none;
    }

    .smaller2{
        font-size: 25px;
    }

    .advance-watering-system-title{
        padding: 0;
    }

    .links ul li{
        font-size: 7px;
        text-align: left;
    }

    .links ul li:nth-of-type(3){
        margin: 0 4px 0 0;
    }

    .title{
        margin-bottom: 30px;
    }

    .title h1{
        font-size: 20px!important;
    }

    .title h6{
        font-size: 10px!important;
    }

    .beneficiaries{
        padding: 0;
    }

    .context-title h2,
    .context-title span,
    .convenient-and-hassle-free-title,
    .convenient-and-hassle-free-title h2,
    .convenient-and-hassle-free-title span,
    .advance-watering-system-title h2,
    .assistance-log-system-title h2, 
    .assistance-log-system-title span,
    .about-title,
    .title-link, 
    .beneficiaries h2 span
    {
        font-size: 18px!important;
    }

    .circle {
        width: 100%;
        height: 100px; 
        max-width: 250px;   
    }

   
}


@media (min-width: 200px) and (max-width: 271px) {
    #body{
        margin-top: 120px;
    }

    .title-and-logo #navbar-logo{
        width: 20px!important;
        height: auto
    }

    .title-and-logo #navbar-title{
        font-size: clamp(10px, 15px, 15px)!important;
    }

    .title-and-logo .smaller{
        font-size: 7px;
    }

    .smaller{
        font-size: 7px!important;
    }

    .smaller2{
        font-size: 25px;
    }

    .advance-watering-system-title{
        padding: 0;
    }

    .links ul li{
        font-size: 8px;
    }

    .title{
        margin-bottom: 50px;
    }

    .title h1{
        font-size: 40px!important;
    }

    .title h6{
        font-size: 15px!important;
    }

    .beneficiaries{
        padding: 0;
    }

    footer{
        margin-top: 30%;
    }

    .anchor-container{
        width: 100%;
    }
}

@media (min-width: 271px) and (max-width: 323px) {

    .title-and-logo #navbar-logo{
        width: 50px;
        height: auto
    }

    .title-and-logo #navbar-title{
        font-size: clamp(10px, 15px, 15px)!important;
    }

    .title-and-logo .smaller{
        font-size: 7px;
    }

    nav .links{
        font-size: clamp(5px, 11px, 11px)!important;
    }

    .title{
        margin-bottom: 70px;
    }

    .anchor-container{
        width: 100%;
    }
}


@media (min-width: 324px) and (max-width: 414px) {

    .title-and-logo #navbar-logo{
        width: 60px;
        height: auto
    }

    .title-and-logo #navbar-title{
        font-size: clamp(10px, 20px, 20px)!important;
    }

    .title-and-logo .smaller{
        font-size: 10px;
    }

    .title h6{
        font-size: 5px;
    }

    .title{
        margin-bottom: 40px;
    }

    .anchor-container{
        width: 100%;
    }
    
    

    nav .links{
        font-size: clamp(5px, 10px, 10px)!important;
    }
}

@media (max-width: 414px) {
    .contact-info-content{
        display: flex;
        flex-direction: column;
    }
}


@media (max-width: 768px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        max-width: 100%;
    }
    
    body {
        width: 100%;
        font-size: 16px; 
        line-height: 1.5;
    }

    .body{
        margin-top: 120px;
    }
    
    nav {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        background-color: var(--font-color-white);
        position: fixed;
        padding: 10px 0;
        max-width: 100%;
        position: fixed;
        z-index: 1000;
        width: 100%;
    }

    .title-and-logo{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    nav .links{
        width: 100%;
        font-size: clamp(5px, 14px, 15px);
        display: flex;
        justify-content: center;
        align-items: center;
        position: static; 
    }

    nav .links ul{
        width: 100%;
        text-align: center;
    }

    nav .links ul li{
        width: 25%;
        text-align: center;
    }

    .anchor-container{
        margin: 0 auto;
        width: 80%;
        text-align: center;
    }



    .title-and-logo #navbar-logo{
        width: 60px;
        height: auto
    }

    .title-and-logo #navbar-title{
        font-size: clamp(10px, 35px, 35px);
    }

    .title-and-logo .smaller{
        font-size: 10px;
    }

    nav ul{
        text-align: center;
    }
    
    .title-and-logo {
        position: static; 
    }
    
    .title-and-logo #navbar-logo {
        width: 35px; 
        height: auto; 
    }
    
    #navbar-title {
        font-size: 20px; 
    }

    
    .main-title {
        flex-direction: column; 
        align-items: center;
        text-align: center;
    }
    
    .title {
        width: 80%; 
        height: 60px;
    }
    
    .title h1 {
        font-size: 2.5rem; 
        line-height: 1.2;
    }

    .title h6{
        font-size: 1rem;
    }
    
    .context-title h2, .about-title {
        font-size: 2rem; 
        width: 100%;
    }
    
    .context {
        border-radius: 0; 
        flex-direction: column;
        text-align: center;
    }

    .context-title{
        padding: 0;
    }

    
    .context-content {
        padding: 0 5%; 
        display: flex;
        flex-direction: column;
    }

    .quality, .sustainable, .efficient{
        width: 100%;
        margin: 10% auto;
    }
    
    .context-content h4 {
        font-size: 1.2rem; 
    }
    
    .context-content p {
        font-size: 1rem;  
    }
    

    .title-logo{
        padding: 0;
        width: 80%;
    }

    
    .convenient-and-hassle-free{
        display: flex;
        flex-direction: column;
        padding: 0 5%;
    }

    .convenient-and-hassle-free-title{
        font-size: 1.5rem;
    } 

    .convenient-and-hassle-free-content{
        display: flex;
        flex-direction: column; 
        
    }

    .advance-watering-system{
        margin-top: 10%;
        border-radius: 0;
    }

    #text1, #text2, .convenient-and-hassle-free-content-image{
        width: 90%;
        margin: 0 auto;
        font-size: 1rem;
        font-family: Prosto-One;
    }

    .advance-watering-system-title{
        font-size: 1.5rem;
    }

    .advance-watering-system-text{
        font-size: 1.2rem;
        font-family: Prosto-One;
    }

    .assistance-log-system{
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: center;
        width: 100%;
    }

    .assistance-log-system-title{
        padding: 0 10%;
        font-size: 1.5rem;
    }

    .assistance-log-system-content{
        display: flex;
        flex-direction: column;
    }

    .assistance-log-system-content h5{
        font-family: Prosto-One;
    }

    #assistance-text{
        font-size: 1rem;
        width: 100%;
    }

    .title-link{
        font-size: 3rem;
        line-height: 1.5;
        margin-top: 10%;
    }

    #beneficiaries-text{
        font-size: 1rem;
        margin: 0;
        padding: 0;
        width: 100%;
        font-family: Prosto-One;
    }
    
    .our-purpose{
        margin: 0;
    }

    .our-purpose-text p{
        font-family: Prosto-One;
        font-size: 1rem;
    }

    .meet-the-team{
        margin-top: 20%;
    }

    .circle-container{
        margin: 0;
    }

    .circle-container .circle:not(#circle1){
        margin-top: 15%;
    }

    .circle-container .circle:last-child{
        margin-bottom: 15%;
    }

    .circle-container .last-three-circles{
        margin-top: -12%;
        margin-bottom: 0;
        padding: 0;
    }

    .container{
        margin-right: 0;
    }

    
    footer .contact-info {
        padding: 20px 0; 
    }

    .contact-info-content p{
        font-size: small;
    }
    
    .contact-info-content .address, .contact-info-content .email {
        margin: 10px 5%; 
        text-align: center;
    }
}

@media (min-width: 769px) and (max-width: 852px) { 

    .body{
        margin-top: 50px;
    }
    
    .title-and-logo #navbar-logo{
        width: 50px;
        height: auto;
    }

    .title-and-logo{
        width: 50%;
    }

    .title-and-logo #navbar-title{
        font-size: 32px;
        margin: 0;
    }

    .title-and-logo .smaller{
        font-size: 9px;
        margin: 0;
    }

    nav .links{
        font-size: 14px;
    }

    .context-content h4{
        font-size: 35px;
    }

    #text1, #text2{
        font-size: 25px;
    }

    .title-link{
        font-size: 72px;
    }
}

@media (min-width: 853px) and (max-width: 972px) { 
    .title-and-logo #navbar-logo{
        width: 55px;
        height: auto
    }

    .title-and-logo #navbar-title{
        font-size: 35px;
    }

    .title-and-logo .smaller{
        font-size: 11px;
    }

    nav .links{
        font-size: 16px;
    }

    .context-content h4{
        font-size: 40px;
    }

    #text1, #text2{
        font-size: 30px;
    }

    .title-link{
        font-size: 78px;
    }
}


@media (min-width: 973px) and (max-width: 1142px) { 

    .body{
        margin-top: 50px;
    }

    .title-and-logo #navbar-logo{
        width: 60px;
        height: auto
    }

    .title-and-logo #navbar-title{
        font-size: 39px;
    }

    .title-and-logo .smaller{
        font-size: 15px;
    }

    nav .links{
        font-size: 20px;
    }

    .title-link{
        font-size: 88px;
    }
}

@media only screen and (min-width: 1143px) and (max-width: 1440px){
    #navbar-title{
        font-size: 43px;
    }
}


@media only screen and (min-width: 1441px) and (max-width: 1740px){

        #navbar-title{
            font-size: 60px;
        }
    
        .links a{
            font-size: 42px;
        }
    
        .context{
            width: 1740px;
            max-width: 100%; 
        }
    
        .context-title{
            width: 1740px;
            max-width: 100%;
        }
    
        .convenient-and-hassle-free{
            width: 1740px;
            max-width: 100%;
        }
    
        .convenient-and-hassle-free-content{
            width: 1740px;
            max-width: 100%;
        }
    
        .advance-watering-system{
            width: 1740px;
            max-width: 100%;
        }
    
        .assistance-log-system{
            width: 1740px;
            max-width: 100%;
            margin-top: 10%;
        }
    
        .about-the-project{
            width: 1740px;
            max-width: 100%;
        }
    
        .our-purpose{
            width: 1740px;
            max-width: 100%;
        }
}

  
@media only screen and (min-width: 1741px) {

    #navbar-title{
        font-size: 70px;
    }

    .links a{
        font-size: 50px;
    }

    .main-title{
        margin-top: 8%;
    }

    .context{
        width: 1920px;
        max-width: 100%; 
    }

    .context-title{
        width: 1920px;
        max-width: 100%;
    }

    .convenient-and-hassle-free{
        width: 1920px;
        max-width: 100%;
    }

    .convenient-and-hassle-free-content{
        width: 1920px;
        max-width: 100%;
    }

    .advance-watering-system{
        width: 1920px;
        max-width: 100%;
    }

    .assistance-log-system{
        width: 1920px;
        max-width: 100%;
        margin-top: 10%;
    }

    .about-the-project{
        width: 1920px;
        max-width: 100%;
    }

    .our-purpose{
        width: 1920px;
        max-width: 100%;
    }

    
}
  
  


.body2{
    display: none;
}

.body2{
    height: 540rem;
    background-color: white;
    width:100%;
}

div.background1{
    background: linear-gradient(180deg, #009955 -0%, rgba(0, 153, 85, 0) 100%);
    height: 250rem;
    position: absolute;
    top: 6.1rem;
    width: 100%;
} 

div.background2{
    background: linear-gradient(360deg, #009955 -0%, rgba(0, 153, 85, 0) 100%);
    height: 350rem;
    position: absolute;
    top: 190rem;
    width: 100%;
}

.Image1{
    position:absolute;
    object-fit:contain;
    top:10rem;
    width: 100%;
    height:1700px;
    padding:80px;
}

.Image2{
    position:absolute;
    object-fit:contain;
    top:110rem;
    width: 100%;
    height:3700px;
    padding:80px
}

.Image3{
    position:absolute;
    object-fit:contain;
    top:340rem;
    height:2800px;
    width: 100%;
    padding: 80px;
}

@media(max-width:1800px){/*1ST MEDIA SCREEN SIZE (BODY)*/
    .body2{
        height: 380rem;
        background-color: bl;
        width:100%;
        transition: .5s;
    }

    div.background1{
        top: 5.1rem;
        height: 180rem;
        transition: .5s;
    }

    div.background2{
        position: absolute;
        top: 180rem;
        height: 220rem;
        width: 100%;
    }
    
    .Image1{
        top:10rem;
        height:1100px;
        transition: .5s;
    }
    
    .Image2{
        top:90rem;
        height:2700px;
        transition: .5s;
    }
    
    .Image3{
        top:240rem;
        height:2600px;
        transition: .5s;
    }

}@media(max-width:1300px){/*2ND MEDIA SCREEN SIZE (BODY)*/
    .body2{
        height:360rem;
        width:100%;
        transition: .5s;
    }

    div.background1{
        top: 4.4rem;
        height: 180rem;
        transition: .5s;
    }
    
    div.background2{
        position: absolute;
        top: 190rem;
        height: 160rem;
        width: 100%;
    }
    
    .Image1{
        top:10rem;
        height:1000px;
        transition: .5s;
    }
    
    .Image2{
        top:70rem;
        transition: .5s;
    }
    
    .Image3{
        top:200rem;
        transition: .5s;
    }


}@media(max-width:900px){/*3RD MEDIA SCREEN SIZE(BODY)*/
    .body2{
        height: 260rem;
        width:100%;
        transition: .5s;
    }
    
    div.background1{
        top: 3.1rem;
        height: 190rem;
        transition: .5s;
    }
    
    div.background2{
        position: absolute;
        top: 145rem;
        height: 125rem;
        width: 100%;
        transition: .5s;
    }
    
    .Image1{
        top:0rem;
        transition: .5s;
    }
    
    .Image2{
        top:18rem;
        transition: .5s;
    }
    
    .Image3{
        top:110rem;
        transition: .5s;
    }
}